<% include header %>
<div>
<section style="float: right">
	<p> chsr222@gmail.com; 6692828775</section>
	</div>
<section class="section-header">
<h3 > Current: </h3>
<p> I am a new international graduate student at Northwest Missouri State University, Doing my Masters in Applied Computer Science. </p>
</section>
<section id="past-section"><h3 class="section-header">Background:</h3>
<p>I have close to 3 years of experience in TCS and worked on Automation Testing, Data Visualization. Graduated from Gokaraju Rangaraju Institute of Engineering</p>
</section>
<div style="
    float: left;
    width: 33%;
"><section id="future-section"><h3 class="section-header">Plans:</h3><p>I would like to become as a data Scientist </p>
</section>
<!-- <aside class="aside-header"> <h3>please click on below Linkedin link: </h3> 
<a href="https://www.linkedin.com/in/sambireddy-chanimella-4b980254/" target="_blank">linkedin</a></aside> -->
    </div><section id="section4" > <h3>Skills</h3> 
<ul>
	<li style="color:darkblue; font-family: 'Times New Roman', Times, serif">Programming Languages: Groovy, JAVA, Python, R</li>
	<li style="color:darkblue; font-family: 'Times New Roman', Times, serif">Tools: SOAP UI, Apache Tomcat, Power Bi</li>
</ul>


</section>
<div class = "div1"><img src="/images/sam.jpg"></div>

<div class="div2" >
	<div style="width: 500px; margin:0 auto">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/TlB_eWDSMt4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" ></iframe></div></div>

</article>


</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script> 
<script src="conv.js" type="text/javascript"></script>

<% include footer %>